@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Page</title>

    <!--Import Css-->
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" />
    
    <!--Custom Css-->
    <link rel="stylesheet" href="~/ThemeForest/css/app.min.1.css" />
    <link rel="stylesheet" href="~/ThemeForest/css/app.min.2.css" />

</head>
<body>
    <div class="four-zero">
        <div class="fz-inner">
            <h2>Oops...!!</h2>
            <p>Nah... it's 404</p>
        </div>
    </div>

</body>
</html>
