@{
    Layout = "~/Views/Shared/_AccountMessageLayout.cshtml";
    ViewData["Title"] = "Confirm email";
}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>Thanks For Join</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Thanks For Join With BalimOOn Family</h2>
            </div>
            <div class="card-body card-padding">
                <h4>Your UserId Now Activated</h4>
            </div>
        </div>
    </div>
</section>