@model WebApplication1.Models.MainSystem.MainSystemViewModel.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!-- Forgot Password -->
<div class="login" data-lbg="purple">
    <div class="l-block toggled" id="l-forget-password">
        <div class="lb-header palette-Purple bg">
            <i class="zmdi zmdi-account-circle"></i>
            Forgot Password
        </div>

        <div class="lb-body">

            <form asp-action="ForgotPassword" method="post" id="form-forgot">

                <div class="form-group fg-float">
                    <div class="fg-line">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input asp-for="Email" class="input-sm form-control fg-input" id="Email" required />
                        <label class="fg-label">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <button class="btn palette-Purple bg" type="submit">Get New Password</button>
            </form>
            <div class="m-t-30">
                <a data-bg="teal" class="palette-Purple text d-block m-b-5" href="/Account/Login">Already have an account?</a>
                <a data-bg="blue" class="palette-Purple text d-block m-b-5" href="/Account/Register">Creat an account</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!--Custom Scripts-->
    <partial name="_ValidationScriptsPartial" />
}