
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_AccountMessageLayout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>Reset Password</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Reset Password Success</h2>
            </div>
            <div class="card-body card-padding">
                <p>Your password has been reset. Please <a asp-controller="Account" asp-action="Login"> <b>click here</b></a> to Log In</p>
            </div>
        </div>
    </div>
</section>